#craps-game {
    background-image: url('../images/john-schnobrich-VnHzobjGra4-unsplash.jpg');
    background-position: center center; 
    color: white
}

.craps-game-title {

    text-align: left;

}

.craps-game-container {
    width: min(700px, 80vw) ;
    height: min(500px, 57vw) ;
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url('../images/alois-komenda-hAdfTKFXmwM-unsplash.jpg');
    background-size: cover;
    

}