#craps-game {
    background-image: url('../images/john-schnobrich-VnHzobjGra4-unsplash.jpg');
    background-position: center center; 
    color: white
}

.craps-game-title {

    text-align: left;

}

.craps-game-container {
    width: min(700px, 80vw) ;
    height: min(500px, 57vw) ;
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url('../images/alois-komenda-hAdfTKFXmwM-unsplash.jpg');
    background-size: cover;
    

}

#craps-registration-pane {

    text-align: center;
    margin-top: 25px;
}

.craps-registration-input{
    background: none;
    border: white 2px;
    border-bottom: solid white 5px;
    margin-top: 25px;
    color: white;
    text-align: center;

}

.craps-registration-input:focus {

    outline-width: 0;
}

.craps-registration-continue {

    margin-top: 25px;
}

.craps-registration-continue:hover {

    cursor: pointer;
    font-weight: bold;
}

#craps-main-section {

    display: none;
}

.craps-main-section-stats {

    text-align: center;
    margin-top: 70px;
}

#craps-stats-money-container {
    font-size: 30px;
    margin: 25px 0 5px 0;
}