H1 {

    Color:blue;
    
    }
    
    Button:hover {
        background-color: red;
        cursor: pointer;
        font-size: 20px; 
    }
    
    #title {
        
       
        text-align: center;
        padding-top: 200px;
        background-image: url(../images/pascal-bullan-HmO-jGKk3wI-unsplash.jpg) ;
        background-position: center center;
    }