H1 {

    Color:blue;
    
    }
    
    Button:hover {
        background-color: red;
        cursor: pointer;
        font-size: 20px; 
    }
    
    #title {
        
        width:100%;
        text-align: center;
        margin-top: 50px;
    
    }